<% @page_title = "Room: " + @room.topic %>

<h1><%= @room.topic %></h1>
<p>Owner: <%= @room.owner.handle %></p>

<% if @room.chat_public %>
<% if @room.messages.count > 0 %>
<% @room.messages.each do |message| %>
<p<span class="message_handle"><%= message.user.handle %></span>: <%= message.content %></p>
<% end %>
<% else %>
<p>No messages yet. :(</p>
<% end %>
<% else %>
<p>This room does not allow public viewing, please join the room before you can view messages.</p>
<% end %>

<% if not @current_user.nil? %>
<div id="message_post_form">
  <%= form_for :message, :url => { :controller => 'messages', :action => 'create' } do |form| %>
  <%= form.hidden_field :room_id, :value => @room.id %>
  <p><%= form.text_field :content %> <%= form.submit "Post" %></p>
  <% end %>
</div>
<% end %>
